---
import { fetchGreatImage } from "./utility/fetch-great-image";

type Props = {
  src: string;
  height: number;
  width: number;
  alt: string;
  quality?: number;
  useRemoteBlur?: boolean;
  baseURL?: string;
  customClass?: {
    common?: string;
    container?: string;
    placeholder?: string;
    image?: string;
  };
};

const {
  src,
  height,
  width,
  alt,
  useRemoteBlur = true,
  baseURL,
  customClass,
} = Astro.props;

const image = await fetchGreatImage({ src, baseURL, useRemoteBlur });

const defaultCoverSize = {
  width,
  height,
};
---

<div
  class={`relative overflow-hidden ${customClass?.common || ""} ${customClass?.container || ""}`}
>
  <img
    aria-hidden
    src={image.placeholder}
    role="presentation"
    class={`absolute blur-xl inset-0 z-[-1] ${customClass?.common || ""} ${customClass?.placeholder || ""}`}
    alt={alt}
  />
  <img
    src={image.src}
    alt={alt}
    width={defaultCoverSize.width}
    height={defaultCoverSize.height}
    class={`${customClass?.common || ""} ${customClass?.image || ""}`}
    loading="lazy"
    fetchpriority={image.isRemote ? "high" : undefined}
  />
</div>
